<div class="content">
    <div class="logo mb-5">
        <img src="../../../../assets/icons/chronotrack_icone_principal.webp" alt="EntrePay" />
    </div>
    <div *ngIf="generateCard">
        <mat-card *ngIf="success" class="card-anticipation">
            <h1>Antecipação Confirmada!</h1>
            <img class="icon" src="../../../../assets/icons/success.png">
        </mat-card>
        <mat-card *ngIf="!success" class="card-anticipation">
            <h1>Antecipação Recusada!</h1>
            <img class="icon" src="../../../../assets/icons/error.png">
        </mat-card>
    </div>
</div>